<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056005548031-qdmcld01p7h1e0ivpvf7ks3evhq8p2vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056005548031-qdmcld01p7h1e0ivpvf7ks3evhq8p2vi</string>
	<key>API_KEY</key>
	<string>AIzaSyC25yl_pDe_TG9FDHibEF5zdJ-NAQV2drU</string>
	<key>GCM_SENDER_ID</key>
	<string>1056005548031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flash</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9afa5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9afa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056005548031:ios:e5f204a8a139fc95ae29ca</string>
</dict>
</plist>